.check-all {
    width: 200px;
    height: 40px;
    background-color: #009468;;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-right: 25px;
    margin-top: 10px;
}

.uncheck-all {
    width: 200px;
    height: 40px;
    background-color: #bb4e46;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 1.6rem;
    cursor: pointer;
}

button:hover {
    opacity: 85%;
}