.check-all {
    width: 200px;
    height: 40px;
    background-color: #009468;;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-top: 15px;
}