.weapon {
    cursor: pointer;
    text-align: center;
}

.weapon:hover {
    color: lightgrey;
}

.weapon--icon {
    width: 80px;
    height: 80px;
}

.astronomy-icon {
    height: 20px;
    margin-right: 10px;
}

.material-icon {
    height: 20px;
    margin-right: 10px;
}

/* Tooltip functionality showing each weapon's name */

.tooltip {
    position: relative;
    display: inline-block;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    opacity: 85%;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    bottom: 105%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
  }